body {
    display: flex;
}

div {
    background-color: violet;
    width: 100px;
    height: 110px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid black;

}

/* rotate */

.rotate {
    transform: rotate(25deg);
}

/* scale */

.double {
    transform: scale(2);
}

.half {
    transform: scale(0.5);
}